@{
    ViewBag.Title = "Search result";
    //Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}


@model List<Mable.Classes.PlaceDetail.Result>

@using PagedList.Mvc

<style>
    /*#map {
        height: 100%;
    }

    html.body {
        height: 100%;
        margin: 0;
        padding: 0;
    }*/


</style>
<script>

    var map;
    var service;
    var infowindow;

    var result_list = [];
    var result_markers = [];
    var infowindow_result;

    function initialize() {
        var pyrmont = new google.maps.LatLng(-37.812479, 144.96150);

        map = new google.maps.Map(document.getElementById('map'), {
            center: pyrmont,
            zoom: 15
        });

        result_list = @Html.Raw(Json.Encode(Model));

        for (var i = 0; i < result_list.length; i++) {
            var result_marker = new google.maps.Marker({
                map: map,
                position: result_list[i].geometry.location,
                visible: true,
            });
            var id = result_list[i].id;
            var link = '@Url.Action("ResultDetail", new { id = "-1" })';
            link = link.replace("-1", id);
            var content = '<div>' + result_list[i].name + '</div>' +
                '<div><a href="' + link + '">Detail</a>' + '</div>';

            infowindow_result = new google.maps.InfoWindow();
            result_marker.content = content;
            result_marker.id = id;
            google.maps.event.addListener(result_marker, 'click', function () {
                infowindow_result.setContent(this.content);
                infowindow_result.open(this.getMap(), this);

                window.location.href = "#" + this.id;
            });

            // when mouse enters the area of marker icon
            google.maps.event.addListener(result_marker, 'mouseover', function () {
                document.getElementById(this.id).style.background = "#000000";
            });

            // when mouse leaves the area of mouse icon
            google.maps.event.addListener(result_marker, 'mouseout', function () {
                document.getElementById(this.id).style.background = "#ffffff";
            });

            result_markers.push(result_marker);
        }
    }


    function listResult(place) {

    }
</script>

<!-- Search -->

<div class="row">

    <div class="mable-homeSearch col-md-12 text-center">

        <div class="title">Search</div>

        @using (Html.BeginForm("SearchResult", "Home"))

        {

            @Html.TextBox("keyword", "", new { placeholder = "Find restaurants, stores, and more", id = "SearchBox" })

        }





    </div>

</div>
<!--End Search -->

<div class="row">


    @if (ViewBag.HasResult == false)
    {
        <!--Start No Results Message -->
        <div class="col-sm-8 col-sm-offset-2">
            No result
        </div>
    }


    @foreach (var item in Model)
    {
        <div class="col-sm-8 col-sm-offset-2  mable-CardResult" id="@item.id">
            <div class="row">
                <a href="@Url.Action("ResultDetail", new { id = item.id })">
                    <figcaption class="col-lg-8">
                        <h1 class="mable-CardResult-title">
                            @item.name
                        </h1>
                        <div class="mable-CardResult-address">
                            @*@item.formatted_address*@
                            @item.vicinity
                        </div>
                        <i class="fas fa-star"></i> @item.rating
                    </figcaption>
                    <div class="col-lg-2">
                        <div class="mable-CardResult-accRating">
                            <p>Accessibility Rating</p>

                            <i class="fas fa-universal-access" style="font-size: 28px;">
                                @item.accessibility_rating
                            </i>
                        </div>

                    </div>
                    <div class="col-lg-2">
                        <i class="fas fa-info-circle"> </i> @Html.ActionLink(" Check more", "ResultDetail", new { id = item.id })

                    </div>
                </a>
            </div>
        </div>
    }

    <div class="row">
        <div style="height:80vh; width:100%;">
            <div id="map" style="height:100%;">
            </div>
        </div>
    </div>

</div>


<script src='~/Scripts/nprogress.js'></script>
<link rel='stylesheet' href='~/Content/css/nprogress.css' />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgWw5yvhJAS5LsXo2RGJa0o-cPWMNNPLo&libraries=places&callback=initialize"></script>

