@{
    ViewBag.Title = "Search result";
    //Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}


@model List<Mable.Classes.PlaceDetail.Result>

@using PagedList.Mvc



<script src='~/Scripts/nprogress.js'></script>
<link rel='stylesheet' href='~/Content/css/nprogress.css' />

<script>
    $(document).ready(function () {
        NProgress.start();
    })

    window.onload = function () {
        NProgress.done();
    }

    var map;
    var service;
    var infowindow;


    var result_list = [];
    var result_markers = [];
    var infowindow_result;

    function initialize() {
        var pyrmont = new google.maps.LatLng(-37.812479, 144.96150);

        map = new google.maps.Map(document.getElementById('map'), {
            center: pyrmont,
            zoom: 15,
            clickableIcons: false
        });

        result_list = @Html.Raw(Json.Encode(Model));

        for (var i = 0; i < result_list.length; i++) {
            var result_marker = new google.maps.Marker({
                map: map,
                position: result_list[i].geometry.location,
                visible: true,
            });
            var place_id = result_list[i].place_id;
            var link = '@Url.Action("ResultDetail", new { place_id = "-1" })';
            link = link.replace("-1", place_id);
            var content = '<div>' + result_list[i].name + '</div>' +
                '<div><a href="' + link + '">Detail</a>' + '</div>';

            infowindow_result = new google.maps.InfoWindow();
            result_marker.content = content;
            result_marker.place_id = place_id;
            google.maps.event.addListener(result_marker, 'click', function () {
                infowindow_result.setContent(this.content);
                infowindow_result.open(this.getMap(), this);

                window.location.href = "#" + this.place_id;
            });

            // when mouse enters the area of marker icon
            google.maps.event.addListener(result_marker, 'mouseover', function () {
                document.getElementById(this.place_id).style.border = "4px solid #FFE200";
                document.getElementById(this.place_id).style.transition = "0.1s";
            });

            // when mouse leaves the area of mouse icon
            google.maps.event.addListener(result_marker, 'mouseout', function () {
                document.getElementById(this.place_id).style.border = "none";
            });

            result_markers.push(result_marker);
        }
    }

    function startNProgress() {
        NProgress.start();
    }

    function HighlightMarker(place_id) {
        var marker = result_markers.find(m => m.place_id == place_id);
        marker.setIcon('../Content/images/marker-hover.svg');  // TODO: change to a proper icon
    }

    function UnHighlightMarker(place_id) {
        var marker = result_markers.find(m => m.place_id == place_id);
        marker.setIcon();
    }
</script>

<!-- Start Search input -->
<div class="row mable-searchInput">
    <div class="col-md-12">

        <div class="title"><img src="~/Content/images/icon-searchHome.svg" alt="Search for places" /> Find</div>

        @using (Html.BeginForm("SearchResult", "Home"))

        {


            <div class="input-group">
                @Html.TextBox("keyword", "", new { placeholder = "Restaurants, stores, and other places in the City of Melbourne", id = "SearchBox" })
                <div class="input-group-btn">
                    <button class="btn mable-btn-search" type="submit" value="SearchResult">Search</button>
                </div>
            </div>

        }


    </div>
</div>
<!--End Search Input -->
<!-- Start List Results -->
<div class="row">
    <!-- start list-->
    <div class="col-sm-6 ">
        <div class="row">
            <div class="mable-topicHeading" style="margin-left: 20px;">
                Search Results
            </div>
            @if (ViewBag.HasResult == false)
            {
                <!--Start No Results Message -->
                <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-top: 35px">

                    <i class="fas fa-exclamation-circle " style="font-size: 55px;"></i>

                    <p class="text-center" style="margin-top:15px;">Oh no! We could not find any results, please try again.</p>
                </div>
            }
            <!-- start mable results-->
            <div class="mable-listResults" style="height:60vh; overflow-y:auto">


                @foreach (var item in Model)
                {
                    <div class="col-sm-12 animated fadeInUp mable-CardResult" id="@item.place_id" onmouseover="HighlightMarker('@item.place_id')" onmouseout="UnHighlightMarker('@item.place_id')">
                        <div class="row">
                            <a href="@Url.Action("ResultDetail", new { place_id = item.place_id })" onclick="startNProgress()">
                                <div class="col-lg-8">
                                    <h1 class="mable-CardResult-title">
                                        @item.name
                                    </h1>
                                    <div class="mable-CardResult-address">
                                        @item.vicinity
                                    </div>
                                    <i class="fas fa-star"></i> Google Place Rating: @item.rating / 5
                                </div>

                                <div class="col-lg-4 mable-cardResult-accRating">

                                    <h4>Accessibility Rating</h4>
                                    @if (item.rating_lv1 == 0 && item.rating_lv2 == 0 && item.rating_lv3 == 0)
                                    {
                                        <i id="fa-ban" class="fas fa-question-circle" style="font-size: 30px;" data-toggle="tooltip" title="Not rated"></i>
                                    }
                                    else
                                    {

                                        if ((double)(item.rating_lv2 + (item.rating_lv3 * 2)) / (double)(item.rating_lv1 + item.rating_lv2 + item.rating_lv3) <= 0.5)
                                        {
                                            <i id="fa-frown" class="fas fa-frown" style="font-size: 30px;" data-toggle="tooltip" title="Not wheelchair accessible - all entrances have steps"></i>
                                        }

                                        if ((double)(item.rating_lv2 + (item.rating_lv3 * 2)) / (double)(item.rating_lv1 + item.rating_lv2 + item.rating_lv3) > 0.5 &&
                                        ((double)(item.rating_lv2 + (item.rating_lv3 * 2)) / (double)(item.rating_lv1 + item.rating_lv2 + item.rating_lv3)) <= 1.3)
                                        {
                                            <i id="fa-meh" class="fas fa-meh" style="font-size: 30px;" data-toggle="tooltip" title="Partially wheelchair accessible - alternative entrance is step free"></i>
                                        }

                                        if ((double)(item.rating_lv2 + (item.rating_lv3 * 2)) / (double)(item.rating_lv1 + item.rating_lv2 + item.rating_lv3) > 1.3)
                                        {
                                            <i id="fa-smile" class="fas fa-smile" style="font-size: 30px;" data-toggle="tooltip" title="Totally wheelchair accessible - main entrance is step free"></i>
                                        }
                                    }



                                </div>




                            </a>
                        </div>
                    </div>
                }
            </div>
            <!--end mable results-->
        </div>
    </div>
    <!-- End list-->
    <!-- Start Results on Map-->
    <div class="col-sm-6 mable-listResults">
        <div class="row">
            <div class="mable-topicHeading">
                Search Results on Map
            </div>
            <div class="col-sm-12">
                <div style="height:70vh; width:100%; max-height:60vh;">
                    <div id="map" style="height:100%;">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Results on Map-->
</div>
<!-- Start List Results -->
<script src='~/Scripts/nprogress.js'></script>
<link rel='stylesheet' href='~/Content/css/nprogress.css' />

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgWw5yvhJAS5LsXo2RGJa0o-cPWMNNPLo&libraries=places&callback=initialize"></script>

<!--Tooltip-->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    var centre = {
        lat: -37.808163434,
        lng: 144.957829502
    }
    var radius = 7000;
    var input = document.getElementById('SearchBox');
    var searchBox = new google.maps.places.Autocomplete(input, {
        componentRestrictions: { country: 'au' },
        types: ['geocode'],
        strictBounds: true
    });
    var circle = new google.maps.Circle({
        center: centre,
        radius: radius
    });
    searchBox.setBounds(circle.getBounds());
</script>