<!DOCTYPE html>

<html>

<head>

    @RenderPage("head.cshtml")
    <script>
window['_fs_debug'] = false;
window['_fs_host'] = 'fullstory.com';
window['_fs_org'] = 'C1P92';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
    g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
    o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
    g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
    g.consent=function(a){g("consent",!arguments.length||a)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(){};
})(window,document,window['_fs_namespace'],'script','user');
    </script>

</head>

<body>
    <!-- Start Navbar -->
    <div class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <a href='@Url.Action("Index","Home")'>
                    <img class="navbar-brand" src="~/Content/images/logo-mable-hor.svg" />
                </a>
                @*@Html.ActionLink("MABLE", "Index", "Home", null, new { @class = "navbar-brand" })*@

            </div>

            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <div class="navbar-form nav navbar-nav" id="mable-menuSearch">
                    <div class="title">Find</div>

                    @using (Html.BeginForm("SearchResult", "Home"))

                    {

                        @Html.TextBox("keyword", "", new { placeholder = "Restaurants, stores, and other places in the City of Melbourne" })

                    }
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        @Html.ActionLink("Find", "Index", "Home")
                    </li>

                    @*<li class="@(pageName == "Index" ? "active" : "")">

            @Html.ActionLink("Find", "Search", "Home")

        </li>*@
                    <li class="">
                        @Html.ActionLink("Near Me", "Map", "Home")
                    </li>

                    <li>

                        @Html.ActionLink("Useful Links", "UsefulLinks", "Home")

                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Navbar -->
    <!-- Start section -->



    <div class="section">

        <div class="container-fluid">

            @RenderBody()

        </div>

    </div>
    <footer>
        @RenderPage("Footer.cshtml")
    </footer>

    @RenderSection("scripts", required: false)

</body>

</html>

