@{ 
    var pageName = ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>

<html>

<head>

    @RenderPage("head.cshtml")


</head>

<body>

    <!-- Start Navbar -->

    <div class="navbar navbar-default navbar-static-top">

        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">

                    <span class="sr-only">Toggle navigation</span>

                    <i class="fas fa-ellipsis-h"></i>

                </button>

               
                
                <a href='@Url.Action("Index","Home")'>
                    <img class="navbar-brand" src="~/Content/images/logo-mable-hor.svg" />
                </a>
                    @*@Html.ActionLink("mable","Index", "Home", null, new { @class = "navbar-brand" })*@
                
              

            </div>

            <div class="collapse navbar-collapse" id="navbar-ex-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>

                    <li class="@(pageName == "Index" ? "active" : "")">

                        @Html.ActionLink("Find", "Search", "Home")

                    </li>

                    <li class="@(pageName == "Map" ? "active" : "")">

                        @Html.ActionLink("Near Me", "Map", "Home")

                    </li>

                    <li class="@(pageName == "About" ? "active" : "")">

                        @Html.ActionLink("About", "About", "Home")

                    </li>

                </ul>

            </div>

        </div>

    </div>

    <!-- End Navbar -->
    <!-- Start section -->

    <div class="section">

        <div class="container-fluid">

            @RenderBody()

        </div>

    </div>

    <footer>
        @RenderPage("Footer.cshtml")
    </footer>

    @RenderSection("scripts", required: false)

</body>

</html>

